
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use></use>
              </svg>
            </span>
          </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic quam nisi modi soluta totam mollitia sunt exercitationem sequi quibusdam dicta.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>